services:
  - type: web
    name: quiniela-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: PORT
        value: 10000
      - key: FIREBASE_CREDENTIALS
        sync: false
